@import '../components.scss';

.result_panel {
	text-align: right;

	button {
		margin-left: 12px;
		background-color: $main-color;
		color: $background-text-color;
		padding: 5px;
	}
}

.value {
	font-weight: 600;
	color: $main-color;


}

.card_btn {
	cursor: pointer;
	transition: transform 0.1s ease-in;
	border-radius: 4px;
}

.card_btn:hover {
	transform: translate(2px, -2px);
}

.empty_text {
	text-align: center;
	color: gray;
}